
			<footer>
					<div class="row">
						<div class="col span-1-of-2">
							<h4>Follow Us </h4><hr>
							<ul class="footer-nav footer-pad">
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-facebook.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-twitter.svg"></a></li>
								<li><a href="https://api.whatsapp.com/send?phone=+2347068093818&text=Hi,%20My%20name%20is%20"> <img class= "footer-icon" src="stylesheets/icons/logo-whatsapp.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-instagram.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-linkedin.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-reddit.svg"></a></li>
								
							</ul>
						</div>
						<div class="col span-1-of-2">
								<h4>  &nbsp; </h4><hr>
							<ul class="footer-nav">
								<li><a href="#"> About Us</a></li>
								<li><a href="#"> How to Use </a></li>
								<li><a href="#"> Android App </a></li>
								<li><a href="#">  FAQs</a></li>
							</ul>
						</div>
				
					
					
				</div>
					<div class="row">
						<p>
							Copyright &copy; {{currentYear}} by Olamide Samuel. All rights reserved.Privacy policy.
						</p>
					</div>
				
				</footer>
	