{{#if success_msg}}
    <div class = "row">
        <div class="col span-1-of-3"></div>
    <div class="col">  {{success_msg}} 

    </div>
    <div class="col span-1-of-3"></div>
    </div>
 
{{/if}}


{{#if error_msg}}
    <div class = "row">
        <div class="col span-1-of-3"></div>
        <div class="col span-1-of-3">{{error_msg}}

        </div>  
        <div class="col span-1-of-3"></div>
    </div>

{{/if}}