<header class="signin-page">
		<nav>
			<div class="row nav-pad">
				<img  class= "logo" src="stylesheets/img/logo.png">

				<ul class= "main-nav">
					<li class ="indicator"><a href="/"> Home</a></li>
					<li class ="indicator"><a href="/"> Features</a></li>
					<li class ="indicator"><a href="/"> Contact</a></li>
					<li class ="sign-in"><a href="/signin">
							Sign in <img class= "nav-icon" src="stylesheets/icons/ios-log-in.svg"/></a></li>
				</ul>
			</div>
        </nav>
        <div class="container">

        <h2 class="sign-in-header"> Change Pasword</h2>

        <form class="form-pad" action="" method="post">
     
            <div class="row">
                    <div class="col span-1-of-3">
                        <label >Old  Password</label>
                    </div>
                    <div class= "col span-2-of-3">
                        <input type="password" name="Password"   required>
                    </div>
    
            </div>
             <div class="row">
                    <div class="col span-1-of-3">
                        <label >New   Password</label>
                    </div>
                    <div class= "col span-2-of-3">
                        <input type="password" name="Password"   required>
                    </div>
    
            </div>
             <div class="row">
                    <div class="col span-1-of-3">
                        <label > Confirm  new password</label>
                    </div>
                    <div class= "col span-2-of-3">
                        <input type="password" name="Password"   required>
                    </div>
    
            </div>
           
            <div class="row">
                     <div class= "col span-3-of-3 submt-pad">
                            <input class="submit-btn" type="submit" value="Submit">
                        
                    </div>
                 </div>

        </form>

        </div>
        

    </header>
    <div class="clearfix"></div>
    <section class= "footer-section">
	
		{{> footer}}
	</section>
</body>
</html>