<nav>
    <div class="row nav-pad dashboard-nav">
        <img class="logo small-logo" src="stylesheets/img/logo.png">

        <ul class="main-nav dashboard-navi ">
            <li>
				<a href="#" class="tooltip">  <span class="tooltiptext">Profile </span><img class= "dashboard-icon" alt="Profile" src="stylesheets/icons/ios-contact.svg"> </a>
            </li>
            <li>
                <a href="#"> <img class= "dashboard-icon" alt="Profile" src="stylesheets/icons/ios-add.svg"></a>
            </li>
            <li>
                <a href="#"> <img class= "dashboard-icon" alt="Profile" src="stylesheets/icons/ios-notifications-outline.svg"></a>
            </li>
            <li class="dropdown">
                <a href="#"> <img class= "dashboard-icon drop-link" alt="Settings" src="stylesheets\icons\ios-build.svg"></a>
                <div class="dropdown-content">
                    <br>
                    <a href="/changepassword">Change password</a>
                    <a href="#">Sign Out </a>
                    <a href="/policy">Policies and Agreements</a>
                    <br>
                </div>
            </li>
            
        </ul>
    </div>
</nav>
<body>
    <div class="row">
        <h4 class="entry">  All Sessions</h4>
    </div>
    <div class="row entry session-pad">
        <div class="col span-3-of-4 ">
            <div class="row"> <span class="session-header"> Today at School</span></div>
            <div class="row">
                    <a href=""> <p class="Session-body">Today at school, we had a lot of lectures and something special happened...</p></a>
            </div>
        </div>

    </div>
    <div class="row entry session-pad">
        <div class="col span-3-of-4">
            <div class="row"><span class="session-header">Title </span></div>
            <div class="row">
                    <a href=""> <p class="Session-body">Entry here</p></a>
            </div>
        </div>
    </div>
    <div class="row entry session-pad">
        <div class="col span-3-of-4">
            <div class="row"><span class="session-header"> Title </span></div>
            <div class="row">
                    <a href=""> <p class="Session-body">Entry here</p></a>
            </div>
        </div>
    </div>
    <div class="row entry session-pad">
        <div class="col span-3-of-4">
            <div class="row"> <span class="session-header">Title </span></div>
            <div class="row">
                    <a href=""> <p class="Session-body">Entry here</p></a>
            </div>
        </div>
    </div>
    <div class="row entry session-pad">
        <div class="col span-3-of-4">
            <div class="row"> <span class="session-header">Title </span></div>
            <div class="row">
                    <a href=""> <p class="Session-body">Entry here</p></a>
            </div>
        </div>
    </div>

    <div class="clear-fix">
    	<div class="space"></div>
    </div>
<section class= "footer-section">
				<footer>
					<div class="row">
						<p>
							Copyright &copy; {{currentYear}} by Olamide Samuel. All rights reserved.Privacy policy.
						</p>
					</div>
				
				</footer>
	</section>
</body>
</html>
