<nav>
    <div class="row nav-pad dashboard-nav">
        <img class="logo small-logo" src="stylesheets/img/logo.png">

        <ul class="main-nav ">
            <li>
                <a href="#"> <img class= "dashboard-icon" alt="Profile" src="stylesheets/icons/ios-contact.svg"></a>
            </li>
            <li class="dropdown">
                <a href="#"> <img class= "dashboard-icon drop-link" alt="Settings" src="stylesheets\icons\ios-build.svg"></a>
                <div class="dropdown-content">
                    <a href="#">Change password</a>
                    <a href="#">Sign Out </a>
                    <a href="#">Terms and Conditions</a>
                </div>
            </li>
            <li>
                
            </li>
            <li >
               
            </li>
            <li >
                
            </li>
        </ul>
    </div>
</nav>
