<nav>
    <div class="row nav-pad dashboard-nav">
        <img class="logo small-logo" src="stylesheets/img/logo.png">

        <ul class="main-nav dashboard-navi ">
            <li>
                <a href="#"> <img class= "dashboard-icon" alt="Profile" src="stylesheets/icons/ios-contact.svg"></a>
            </li>
            <li>
                <a href="#"> <img class= "dashboard-icon" alt="Profile" src="stylesheets/icons/ios-add.svg"></a>
            </li>
            <li>
                <a href="#"> <img class= "dashboard-icon" alt="Profile" src="stylesheets/icons/ios-notifications-outline.svg"></a>
            </li>
            <li class="dropdown">
                <a href="#"> <img class= "dashboard-icon drop-link" alt="Settings" src="stylesheets\icons\ios-build.svg"></a>
                <div class="dropdown-content">
                    <br>
                    <a href="#">Change password</a>
                    <a href="#">Sign Out </a>
                    <a href="#">Terms and Conditions</a>
                    <br>
                </div>
            </li>
            
        </ul>
    </div>
</nav>
<body>
    <div class="row">
        <h4 class="entry">  All Entries</h4>
    </div>
    <div class="row entry">
        <div class="col span-3-of-4">
            <div class="row">Title</div>
            <div class="row">
                    <a href=""> <p>Entry here</p></a>
            </div>
        </div>
        <div class="col span-1-of-4">
            Calendar
        </div>

    </div>
    <div class="row entry">
        <div class="col span-3-of-4">
            <div class="row">Title</div>
            <div class="row">
                    <a href=""> <p>Entry here</p></a>
            </div>
        </div>
    </div>
    <div class="row entry">
        <div class="col span-3-of-4">
            <div class="row">Title</div>
            <div class="row">
                    <a href=""> <p>Entry here</p></a>
            </div>
        </div>
    </div>
    <div class="row entry">
        <div class="col span-3-of-4">
            <div class="row">Title</div>
            <div class="row">
                    <a href=""> <p>Entry here</p></a>
            </div>
        </div>
    </div>
</body>
