<header>
		<nav>
			<div class="row nav-pad">
				<img  class= "logo" src="stylesheets/img/logo.png">

				<ul class= "main-nav">
					<li class ="indicator"><a href="/">Home</a></li>
					<li class ="indicator"><a href="#feautures-section"> Features</a></li>
					<li class ="indicator"><a href="#contact-section"> Contact</a></li>
					<li class ="sign-in"><a href="signin">
							Sign in <img class= "nav-icon" src="stylesheets/icons/ios-log-in.svg"/></a></li>
				</ul>
			</div>
		</nav>
		<div class="header-text smaller-header">
			<h1> 
				Simple. Secure. Personal.
			</h1>
			<p class= header-description>
				Keep life moments, secrets and ideas always with you.
				<br>
				 Private Trips is here to help.
			</p>
			<a class="sign-in started" href="signup"> Get Started</a>
			
		</div>
	</header>
	<section class="feautures" id="feautures-section">
			<div class="row">
				<h2> FEATURES </h2>
			</div>
			<div class="row">
				<div class="col span-1-of-3 feat">

					<img class= "feat-icon" src="stylesheets/icons/ios-create.svg"/>
					<h3> Write</h3>
					<p>No matter if it's a short note or a lengthy diary session, Private Trips user friendly interface lets you organize everything conveniently.</p>
				</div>

				<div class="col span-1-of-3 feat">

					<img class= "feat-icon" src="stylesheets/icons/ios-search.svg"/>
					<h3> SEARCH</h3>
					<p>You can find your diary sessions easily,  by keywords, filter them by date, tags, folders or even location.</p>
				</div>


				<div class="col span-1-of-3 feat">

					<img class= "feat-icon" src="stylesheets/icons/ios-lock.svg"/>
					<h3> SECURE</h3>
					<p>Your diary sessions are inaccessible by any other person.Be rest assured, your secrets are safe with us.</p>
				</div>


				
			</div>



	</section>

	<section class= "contact" id="contact-section">
		<div class="row">
				<h2> Contact </h2>
			</div>
		<div class="row form-pad">
			<form method="" action="" class="contact-form">
				<div class="row">
					<div class="col span-1-of-3">
						<label for ="name"> Name</label>
					</div>
					<div class= "col span-2-of-3">
						<input type="text" name="name" id="name" placeholder="Your Name" required>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label for="email"> Email</label>
					</div>
					<div class= "col span-2-of-3">
						<input type="email" name="email" id="email" placeholder="Your Email" required>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label>Want News Updates?</label>
					</div>
					<div class= "col span-2-of-3">
						<input type="checkbox" name="news" id="news" checked> Yes, please
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label>Your Message</label>
					</div>
					<div class= "col span-2-of-3">
						<textarea name="message" placeholder="Your message"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label> &nbsp;</label>
						<span id="feedback"></span>
					</div>
					<div class= "col span-2-of-3">
						<input id="submit" class="submit-btn" type="submit" value="Send">
					</div>
				</div>
		</form>
		</div>
	</section>
	<section class= "footer-section">
			<footer>
					<div class="row">
						<div class="col span-1-of-2">
							<h4>Follow Us </h4><hr>
							<ul class="footer-nav footer-pad">
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-facebook.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-twitter.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-whatsapp.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-instagram.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-linkedin.svg"></a></li>
								<li><a href="#"> <img class= "footer-icon" src="stylesheets/icons/logo-reddit.svg"></a></li>
								
							</ul>
						</div>
						<div class="col span-1-of-2">
								<h4>  &nbsp; </h4><hr>
							<ul class="footer-nav">
								<li><a href="#"> About Us</a></li>
								<li><a href="#"> How to Use </a></li>
								<li><a href="#"> Android App </a></li>
								<li><a href="#">  FAQs</a></li>
							</ul>
						</div>
				
					
					
				</div>
					<div class="row">
						<p>
							Copyright &copy; {{currentYear}} by Olamide Samuel. All rights reserved.Privacy policy.
						</p>
					</div>
				
				</footer>
	</section>
</body>
</html>