<header class="signin-page">
		<nav>
			<div class="row nav-pad">
				<img  class= "logo" src="stylesheets/img/logo.png">

				<ul class= "main-nav">
					<li class ="indicator"><a href="/"> Home</a></li>
					<li class ="indicator"><a href="/"> Features</a></li>
					<li class ="indicator"><a href="/"> Contact</a></li>
					<li class ="sign-in"><a href="/signin">
							Sign in <img class= "nav-icon" src="stylesheets/icons/ios-log-in.svg"/></a></li>
				</ul>
			</div>
        </nav>
        <div class="container">

        <h2 class="sign-in-header"> Sign in</h2>

        <form class="form-pad" action="/sessions" method="post">
            <div class="row">
                <div class="col span-1-of-3 ">
                    <label > Username</label>
                </div>
                <div class= "col span-2-of-3">
                    <input type="text" name="Username"   required>
                </div>

            </div>
            <div class="row">
                    <div class="col span-1-of-3">
                        <label > Password</label>
                    </div>
                    <div class= "col span-2-of-3">
                        <input type="password" name="Password"   required>
                    </div>
    
            </div>
            <div class="row">
                <div class="col span-1-of-3">

                </div>
                <div class="col span-2-of-3">
                        <input class= "checkbox-style" type="checkbox" name="Signed-in">
                        <label class="smaller-text">Keep me signed in</label>
                </div>

            </div>
            <div class="row">
                     <div class= "col span-3-of-3 submt-pad">
                            <input class="submit-btn" type="submit" value="Sign In">
                        
                    </div>
                 </div>
				 <div class="row">
					 <div class="col span-1-of-2">
						 <p class="smaller-text"> Don't have an account??</p>
					 </div>
                     <div class= "col span-1-of-2 ">
                           <p class="smaller-text"> <a class="link-link" href="/signup"> Sign Up here</a></p>
                    </div>
                 </div>

        </form>

        </div>
        

    </header>
    <section class= "footer-section">	
		{{> footer}}
	</section>
	
</body>
</html>