/*------------------
//General styling
*/
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
html, body{
	background-color: white;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
section{
	padding: 80px 0;
}
/*-----------------------------------*/
/*----HEADING SECTION------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
h1, 
h2,
h3,
h4
{
	font-weight: 300;
	text-transform: uppercase;
			
}
h1{
	margin: 0;
	margin-bottom: 10px;
	color: #fff;
	font-size:220%;
	word-spacing: 3px;
	margin-bottom: 30px;
	letter-spacing: 1px;
	font-weight: bolder;
}
h2{
	font-size: 180%;
	word-spacing:2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
h2:after{
	display: block;
	height: 2px;
	background-color: black;
	width:100px;
	content:" ";
	margin: 0 auto;
	margin-top: 30px;
	font-weight: bolder;
}
h3{
	font-size: 110%;
	margin-bottom: 15px; 
	font-weight: bold; 
	text-align: center;
}
h4{
	font-size: 100%;
	margin-bottom: 10px;
	font-weight: bold;
	text-align:center;
}
header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)),url(img/header2.jpeg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}
.logo{
	height:100px;
	width: auto;
	float:left;
	margin:20px;
	margin-left: 10px;
	opacity: 0.8;
}
nav{
	text-overflow: none;
}
.main-nav{
	float:right;
	list-style: none;
	margin-top: 40px;
}
.main-nav li{
	display: inline-block;
	margin-left:40px;
}
.indicator a:link,
.indicator a:visited {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	padding: 8px 0px 8px 0px;
	transition: border 0.9s;
	
}
.indicator a:hover,
.indicator a:active{
	border-top: 2px solid #fff;	
	border-bottom:2px solid #fff;	
}
.nav-pad{
	padding-right:30px;
}
.nav-icon{
	height:20px;
	width: auto;
	padding-top: 7px;
}
.sign-in a:link,
.sign-in a:visited{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border: 0;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	transition: background-color 0.9s;
	transition: color 0.9s;
}
.sign-in a:hover,
.sign-in a:active{
	background-color: black;
	color: white;
	transition: background-color 0.9s;
	transition: color 0.9s;
}
.header-text{
	 position: absolute;
	 width: 1140px;
	 top:50%;
	 left:50%;
	 transform: translate(-50%, -50%);
}
.header-description{
	color: #fff;
	text-align: center;
	padding-right: 61%;
	padding-bottom: 3%;	
}
.sign-in:link,
.sign-in:visited{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border: 0;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	transition: background-color 0.9s;
	transition: color 0.9s;
}
.sign-in:hover,
.sign-in:active{
	background-color: black;
	color: white;
	transition: background-color 0.9s;
	transition: color 0.9s;
}
.started{
	margin-left: 14%;
}

/*-----------------------------------*/
/*----FEAUTURES SECTION------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.feautures{
	padding:2%;
	padding-bottom: 5%;
}
.feat p{
	font-size: 90%;
	line-height: 145%;
}
.feat-icon{
	height:60px;
	width: auto;
	padding-left: 43%;
	padding-bottom: 5px;	
}
/*-----------------------------------*/
/*----CONTACTS SECTION------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.contact{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)),url(img/contact-bg.jpg);
	background-size: cover;
	background-position: center;
	height: 90vh;
	background-attachment: fixed;
	color: #fff;
}
.contact h2{
	color: #fff;
}
.form-pad{
	padding-left: 20%;
	padding-top: 5%;
}
form{
	background: none;
	color: #fff
}
.contact-form {
    width: 74%;
    padding-left: 20%;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea{
	width:100%;
	padding: 7px;
	border-radius: 3px;
	border:1px solid #ccc;
	
	
}
textarea{
	height: 100px;
	color:#555;
}

input[type="checkbox"]{
	margin: 10px 5px 10px 0;
}
.submit-btn{
	color:black;
	background-color: white;
	border-radius: 13px;
	padding:10px;
	text-transform: uppercase;
}
.submit-btn:hover{
	background-color: black;
	color: white;
	border-color: #000;
	transition: color, 0.5s;
	transition: border, 0.5s;
}

/*---------------------------------------*/
/** FOOTER SECTION  */
/*---------------------------------------*/
.footer-section{
	background-color: rgba(0, 0, 0, 0.801);
	padding-top:40px;
	padding-bottom: 0;
}

footer p{
	color: #888;
	font-size:70%;
	text-align: center;
	margin-top:70px;
}
.footer-nav{
	list-style: none;
	float: left;
	margin-left: 15px;
}
.footer-nav li,
.social-links li{
	display: inline-block;
	margin-right: 20px;
	padding-top: 20px;
}
.footer-nav a:link,
.footer-nav a:visited{
	text-decoration: none;
	color:white;
	font-size: 90%;
	border-bottom: 1px solid transparent;
}
.footer-nav a:hover,
.footer-nav a:active{
	text-decoration: none;
	color:rgb(29, 28, 28);
	transition: color 0.9s;
	transition: border-bottom 0.5s;
	border-bottom: 1px solid white;
}
.footer-icon{
	height:25px;
	width: auto;
}
.footer-pad li{
	margin-left: 18px;
}
/*------------------------------------------*/
/*SIGN IN PAGE*/
/*------------------------------------------*/

.signin-page{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)),url(img/signin-bg.jpeg);
	height: 170vh;
}
.sign-in-header{
	color: white;
	padding-bottom: 5%;
	padding-top: 10%;
}
.container{
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgba(65, 64, 64, 0.507);
	border-radius: 3%;
	background-size: 100%;
	padding-bottom: 5%;
}
.form-pad{
	padding-left: 3%;
	padding-right: 3%;
}
.col input{
	color:#555;
}
.sign-in-btn:link,
.sign-in-btn:visited{
	background-color: #000;
	color:white;
}
.sign-in-btn:hover,
.sign-in-btn:active{
	background-color: white;
	color: black;
}
.submt-pad{
	padding-left: 34%;
}
.smaller-text{
    font-size: 73%;
}
.link-link{
	color: white;
	text-decoration: none;
	margin-left: -40%;
}
.link-link:hover,
.link-link:active{
	text-decoration:underline;
	transition: text-decoration, 0.5s;
	color:rgb(165, 164, 164);
}

/*----------------------------------------*/
/*----------------------------------------*/
/* DASHBOARD SECTION*/
/*----------------------------------------*/
/*----------------------------------------*/
.dashboard-bg{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url(img/diary1.jpeg);	
}

.small-logo{
	height:50px;
	width: auto;
	float:left;
	margin:7px;
	margin-left: 20px;
	opacity: 0.8;
}
.dashboard-nav{
	background-color: rgba(65, 64, 64, 0.507);
	padding-bottom: -4%;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border-radius: 0px 0px 30px 30px;
}
.dashboard-icon{
	height:30px;
	width: auto;	
}
.dropdown-content{
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 200px;
	position: fixed;
	overflow: visible;
	right: 2%
}
.dropdown{
	position: relative;
}
.dropdown-content a {
    color: black;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
	background-color: #9a969778;
}
.dropdown-content a:hover {
	background-color: #B4B4B4; 
}
.dropdown:hover .dropdown-content {
    display: list-item;
	font-size: 60%;
}
.dashboard-navi li:hover{
	background-color:  rgba(59,59,59,0.91);
	transition: background-color, 0.9s;	
}
.dashboard-navi li a{
	padding: 5px;
}
.dashboard-navi li{
	border-radius: 22px;
}
.dashboard-navi{
	margin-top: 20px;
}
/*----------------------------------------*/
/*----------------------------------------*/
/* BODY OF DASHBOARD SECTION*/
/*----------------------------------------*/
/*----------------------------------------*/
.entry{
	text-align: left;
	padding-left:1%;
	padding-top:2%;
	margin-left: 1%;
	margin-right: 15%;
	color:#C8C8C8;
}
.session-pad{
	background-color: rgba(67,67,67,0.74);
	border-radius: 5px;
	margin-top:10px;
	margin-left: 2%;
}
.session-pad a{
	text-decoration: none;
	color:#BBBBBB;
	font-size: 70%;
}
.space{
	margin-top:3%;
}
.session-header{
	text-decoration: underline;	
	color:#BBBBBB;
}

/*-------------------------------------*/
/*--------Tooltip-----------------------------*/
/*-------------------------------------*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 100.5%;
    left: 50%;
    margin-left: -60px;
	font-size:60%;
	opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
	opacity: 1;
	/*transition: opacity 7s; */
	transition: visibility 2s;	
}
/*-------------------------------------*/
/*--------Add Form-----------------------------*/
/*-------------------------------------*/
.add-form{
	position: absolute;
	top: 10%;
	left:6%;
	width: 50%;
}
.visibility{
	visibility:hidden;
	transition-timing-function: ease-in-out;
}
.close-icon{
	border-radius: 14px;
}

