<!DOCTYPE html>
<html>
<head>
	<!-- meta tags -->
	<meta charset="utf-8" name= "viewport" content="width=device-width, initial-scale=1.0">
	<!-- End of tags-->

	<link href="stylesheets/img/logo.png" rel= "shortcut icon" type= "image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/queries.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/grid.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="../javascripts/jquery.js"></script>
	<script type="text/javascript" src="../javascripts/script.js"></script>


	<title> Private Trips</title>
</head>
<body>
<header class="signin-page">
		<nav>
			<div class="row nav-pad">
				<img  class= "logo" src="../stylesheets/img/logo.png">

				<ul class= "main-nav">
					<li class ="indicator"><a href="/"> Home</a></li>
					<li class ="indicator"><a href="/#feautures-section"> Features</a></li>
					<li class ="indicator"><a href="/#contact-section"> Contact</a></li>
					<li class ="sign-in"><a href="users/signin">
							Sign in <img class= "nav-icon" src="../stylesheets/icons/ios-log-in.svg"/></a></li>
				</ul>
			</div>
        </nav>
        <div class="container">

        <h2 class="sign-in-header"> Sign in</h2>

        <form class="form-pad" action="/sessions" method="post">
            <div class="row">
                <div class="col span-1-of-3 ">
                    <label > Username</label>
                </div>
                <div class= "col span-2-of-3">
                    <input type="text" name="Username"   required>
                </div>

            </div>
            <div class="row">
                    <div class="col span-1-of-3">
                        <label > Password</label>
                    </div>
                    <div class= "col span-2-of-3">
                        <input type="password" name="Password"   required>
                    </div>
    
            </div>
            <div class="row">
                <div class="col span-1-of-3">

                </div>
                <div class="col span-2-of-3">
                        <input class= "checkbox-style" type="checkbox" name="Signed-in">
                        <label class="smaller-text">Keep me signed in</label>
                </div>

            </div>
            <div class="row">
                     <div class= "col span-3-of-3 submt-pad">
                            <input class="submit-btn" type="submit" value="Sign In">
                        
                    </div>
                 </div>
				 <div class="row">
					 <div class="col span-1-of-2">
						 <p class="smaller-text"> Don't have an account??</p>
					 </div>
                     <div class= "col span-1-of-2 ">
                           <p class="smaller-text"> <a class="link-link" href="/users/signup"> Sign Up here</a></p>
                    </div>
                 </div>

        </form>

        </div>
        

    </header>
    <section class= "footer-section">	
		{{> footer}}
	</section>
	
</body>
</html>